<link href="chrome-extension://{{chrome.runtime.id}}/css/lib/jquery.dataTables.min.css" rel="stylesheet" media="screen">
<link href="chrome-extension://{{chrome.runtime.id}}/css/lib/font-awesome.min.css" rel="stylesheet" media="screen">

<!-- #region HTML -->
<div id="bill-tac-calc_section" role="tabpanel" aria-labelledby="bill-tac-calc" style="display:none;width:100%;">
    <div id="messages">

    </div>
    <table id="monthlyBillsTable" class="cell-border table-striped table-hover table-striped-column" style="width:100%">
        <thead>
        <tr>
            <th style="width:250px;">
                <div><span>{{{lang.bill-name}}}</span></div>
            </th>
            <th class="rotate" style="width:16px;">
                <div><span>{{{lang.auto-pay}}}</span></div>
            </th>
            <th class="rotate" style="width: 100px;">
                <div><span>{{{lang.payments.full}}}</span></div>
            </th>
            <th class="rotate" style="width: 100px;">
                <div><span>{{{lang.payments.min}}}</span></div>
            </th>
            <th class="rotate" style="width: 100px;">
                <div><span>{{{lang.payments.paid}}}</span></div>
            </th>
            <th class="rotate col-break" style="width: 60px">
                <div><span>{{{lang.date-due}}}</span></div>
            </th>
            <th class="rotate" style="width: 120px;">
                <div><span>{{{lang.payments.ideal}}}</span></div>
            </th>
            <th class="rotate" style="position: relative">
                <div>
                    <span>
                        &nbsp;
                    </span>
                </div>
                <div class="rotate-override">
                    {{{lang.payments.rec}}}
                </div>
            </th>
        </tr>
        <tr>
            <th colspan="10" id="bill-tac-calc_month_picker">
                <div id="options">
                    <i class="icon icon-gear-gray3 options"></i>
                </div>
                <div title="Export" id="export">
                    <i class="fa fa-file-excel-o options" style="opacity: .6;"></i>
                </div>
            </th>
        </tr>
        <tr id="operations">
            <th rel="bill-name"></th>
            <th rel="autopaid"></th>
            <th rel="balance-due" class="borders">
                <button id="btn-transpose-due" class="btn btn-xsm col-op" data-text="to here">transpose <i
                        class="fa"></i></button>
            </th>
            <th rel="min-due" class="borders">
                <button id="btn-transpose-min" class="btn btn-xsm col-op" data-text="to here">transpose <i
                        class="fa"></i></button>
            </th>
            <th rel="paid" class="borders">
                <button id="btn-transpose-paid" class="btn btn-xsm col-op" data-text="from here">subtract <i
                        class="fa"></i></button>
            </th>
            <th rel="due-date"></th>
            <th rel="ideal-payment" class="borders">
                <button id="btn-clear-ideal" class="btn btn-xsm col-op" data-text="clear">clear</button>
            </th>
            <th rel="calc-payment"></th>
        </tr>
        </thead>
        <tfoot>
        <tr class="footer-subtotals">
            <th rel="bill-name" class="totalLbl">Totals:</th>
            <th rel="autopaid"></th>
            <th rel="balance-due" class="currency"></th>
            <th rel="min-due" class="currency"></th>
            <th rel="paid" class="currency calc_paid"></th>
            <th rel="due-date"></th>
            <th rel="ideal-payment" id="ideal-payment"></th>
            <th rel="calc-payment"></th>
        </tr>
        </tfoot>
    </table>
</div>
<div id="bill-calc-options" style="display:none;">
    <div style="line-height: 12px;">
        <input id="options-export-input-columns" style="display: inline;" type="checkbox">
        <label style="display: inline;" for="options-export-input-columns">Export
            <small style="display:inline">{{{lang.payments.ideal}}}</small> &amp;
            <small style="display:inline">{{{lang.payments.rec}}}</small>
            columns?</label>
    </div>
    <br/>
    <div style="line-height: 12px;">
        <input id="options-hide-fully-paid" style="display: inline;" type="checkbox">
        <label style="display: inline;" for="options-hide-fully-paid">Hide fully paid accounts?</label>
    </div>
</div>
<!-- #endregion -->
