/*noinspection CssUnknownTarget*/
@import url('chrome-extension://__MSG_@@extension_id__/css/lib/font-awesome.min.css');

/*noinspection CssUnknownTarget*/
@font-face {
    font-family: 'FontAwesome';
    src: url('chrome-extension://__MSG_@@extension_id__/css/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('chrome-extension://__MSG_@@extension_id__/css/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('chrome-extension://__MSG_@@extension_id__/css/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('chrome-extension://__MSG_@@extension_id__/css/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('chrome-extension://__MSG_@@extension_id__/css/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('chrome-extension://__MSG_@@extension_id__/css/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

i.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#navbar-mint {
    background: #333;
}

#navbar-mint h2 {
    margin-top: 30px;
    padding: 15px 15px 0 15px;
    color: #F5F5F5;
}

#navbar-mint ul {
    padding-left: 15px;
}

#navbar-mint ul li a {
    border-radius: 0;
    padding: 0 0 0 15px;
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#mintoil:not(a.selected) {
    width: 75px;
    filter: grayscale(100%);
}

#mintoil:hover {
    filter: grayscale(0%);
}

#mintoil a {
    color: transparent !important;
    background: url('chrome-extension://__MSG_@@extension_id__/images/logos/logo.svg') no-repeat center center;
    background-size: contain;
    width: 64px;
    height: 64px;
}

.mintoil-logo .horizontal {
    background: url('chrome-extension://__MSG_@@extension_id__/images/logos/logo-horizontal.svg') no-repeat center center;
}

#mintoil a:hover {
    background-position: center 60% !important;
}

#mintoil a.selected {
    background-position: center center !important;
}

#navbar-mint.hidden {
    display: none !important;
}

#mintoil-logo {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background: url('chrome-extension://__MSG_@@extension_id__/images/logos/logo.svg') no-repeat center center;
    background-size: contain;
    width: 128px;
    height: 128px;
    -webkit-filter: drop-shadow(0px 0px 30px #949494);
    filter: drop-shadow(0px 0px 30px #949494);
}

#body-footer .navbar-nav #mintoil-footer a {
    color: #266B36 !important;
}

#body-footer .navbar-nav #mintoil-footer a:hover,
#body-footer .navbar-nav #mintoil-footer a .active {
    color: #8BBE22 !important;
}

/* Bills Enhancement */
#navLinks .navbar-nav #bills a,
#body-footer .navbar-nav #bills a,
/*Transactions Enhancement */
#navLinks .navbar-nav #transaction a,
#body-footer .navbar-nav #transaction a
{
    position: relative;
}

/* Bills Enhancement */
#navLinks .navbar-nav #bills a:after,
#body-footer .navbar-nav #bills a:after,
/*Transactions Enhancement */
#navLinks .navbar-nav #transaction a:after,
#body-footer .navbar-nav #transaction a:after
{
    font-family: 'FontAwesome', monospace;
    content: ' \f043';
    color: #266B36 !important;
    font-size: 12px;
    position: absolute;
    right: -9px !important;
    top: 43%;
    font-weight: normal !important;
}

/* Bills Enhancement */
#navLinks .navbar-nav #bills a:hover:after,
#body-footer .navbar-nav #bills a:hover:after,
/*Transactions Enhancement */
#navLinks .navbar-nav #transaction a:hover:after,
#body-footer .navbar-nav #transaction a:hover:after
{
    color: #8BBE22 !important;
    font-weight: normal !important;
}

.mintoil-plus {
    font-size: 12px;
    font-weight: bold;
    color: #266B36;
}

.tabs #bill-tac-calc {
    cursor: pointer;
    white-space: nowrap;
    height: 28px;
    padding-bottom: 12px;
    font: normal normal normal 28px AvenirNext-Regular-Mint, Helvetica, sans-serif;
    position:relative;
}
.tabs #bill-tac-calc:after {
    font-family: 'FontAwesome', monospace;
    font-size: 16px;
    content: ' \f043';
    color: #266B36 !important;
    font-weight: normal !important;

    position: absolute;
    right: -10px !important;
    top: 30% !important;
}
.tabs #bill-tac-calc.not-selected:hover:after {
    color: #999 !important;
    font-weight: normal !important;
}

.tabs #bill-tac-calc.selected {
    border-bottom: 4px solid #0ac775;
    font: normal normal 600 28px AvenirNext-Regular-Mint, Helvetica, sans-serif;
}

.tabs #bill-tac-calc.not-selected {
    cursor: pointer;
    white-space: nowrap;
    height: 28px;
    padding-bottom: 12px;
}

.tabs #bill-tac-calc.not-selected:hover {
    color: #999;
    border-bottom: 3px solid #ccc;
}

#current-month-export {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAPRAAAD0QGYiom0AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAJBQTFRF////rra7JriZsLe7rbS5Jrmbrra6r7W6r7e8r7W5NrWbR7eiLLqaJbiaVrim7eraXLKjdriuiLSvj7e0j7WzLLucJrmaQcCjRriiSqybTpCJXoyJYY6MY6+jZ8mvcJ6alNS9sNvGxeDNzsmu0s601dG52NS829fB39vG5ODN5eHO5+PR6OXT7OjY7enZ7eravxMk+gAAABZ0Uk5TAGVzjpmgoKOjpamwtLi4uMHM3d/h+GXUK1UAAACESURBVBgZBcHbccQgEAAwAev4MXNXQPovLC0kP9hnL0RqUNYStkgotbE/x1PKtf2R5bVjGV93m8+gB7h1DxBzAoAZ7RsA/FTmPchk3JPKdZ2y93ReFxUAIFhb03bNlkFQFjTUiuBzxzpOW/3tx1sl5yPHSH0mwaKJFI4MggjKhjdUAIB/Mj04Le234YcAAAAASUVORK5CYII=') left center no-repeat;
    padding-left: 24px;
    position: relative;
}

#current-month-export:after{
    font-family: 'FontAwesome', monospace;
    font-size: 12px;
    content: ' \f043';
    color: #266B36 !important;
    font-weight: normal !important;

    position: absolute;
    right: -10px !important;
    top: 25% !important;
}

.mintoil-darkgreen{
    color: #266B36;
}

/* Remove Ads */
.promotions-personalized-offers-ui,
.adviceWidget {
    display: none !important;
}

/** Keep "ways to save" page showing these items  **/
.savePage .promotions-personalized-offers-ui {
    display: block !important;
}
