<!--suppress HtmlFormInputWithoutLabel -->
<div id="search-date-filter">
    <input type="text" class="search-form-date" id="search-date-start" placeholder="Start date" readonly="readonly">
    <input type="text" class="search-form-date" id="search-date-end" placeholder="End date" readonly="readonly">
</div>
