<div class="mintoilPage">
    <div class="MintOilPageView" style="display: block;">
        <div id="main">
            <div id="mintoil-main">
                <div id="mintoilOverview" class="section" title="https://mintoil.caelusminds.com">
                    <div id="icon"></div>
                    <h1>MintOil</h1>
                </div>
                <div id="mintoilMainSection" class="section">
                    <h2 class="title">What's in this Version? </h2>
                    <ul id="this-version-wrapper">
                        <li class="muted"><i class="fa fa-spin fa-circle-o-notch"></i> Loading...</li>
                    </ul>
                    <br/><br/>
                    <h2>Thank you!</h2>
                    <p>We hope you enjoy the features of MintOil now and the many more to come.</p>
                    <p>There are just a few things we'd like to bring to your attention before you get started.</p>
                    <br/>
                    <hr/>
                    <br/>
                    <h2>Overview</h2>
                    <p>Please read the <a href="#mintoil-legal">legal portion</a> of this page to fully comprehend the legal
                        aspects of this browser-extension.</p>
                    <p>
                        The pages that have been enhanced will have a green oil droplet (<i
                            class="fa fa-tint mintoil-darkgreen"></i>),
                        in the main menu on the top and bottom of the site.
                    </p>
                    <p>
                        Once the page has been entered, the green oil droplet theme will continue to be used to denote
                        features
                        added by <span class="company">MintOil</span>&trade;.
                    </p>
                    <p>
                        The plan moving forward as at least one new feature per quarter (every 3 months). <br/>
                        Expect random bug-fixes and hot-fixes for <span class="company">Mint</span>&trade; code changes
                        or Google&reg; Chrome&trade; extension policy changes.
                    </p>
                    <p>
                        Make sure to visit <a href="https://mintoil.caelusminds.com/" target="_blank">our site</a> for
                        the best source of news, feedback, and support.
                    </p>
                    <br/>
                    <hr/>
                    <br/>
                    <h2 id="mintoil-legal">Legal Section</h2>
                    <p>
                        <span class="company">Mint</span><span class="reset">&trade;</span> &amp; <span class="company">Intuit<span
                            class="reset">&reg;</span> Mint</span>&trade; area
                        registered trademarks of <strong>Intuit<span class="reset">&reg;</span>, Inc.</strong>
                        <br/>
                        By using this browser-extension you've agreed to the fact that
                        <span class="company">MintOil</span>&trade;<span class="reset">&trade;</span> is a 3rd Party
                        browser-extension designed to enhance Intuit Mint&trade;
                        and does not reflect upon
                        <span class="company">Intuit<span class="reset">&reg;</span>, Inc.</span> nor is the entity
                        directly responsible for any issues
                        that may arise while using features of this
                        browser-extension.
                        <br/><br/>
                        By using this browser-extension you, <em class="company">the user</em>, have taken on the risks
                        involved with
                        extending
                        an existing web-site/web-service's capabilities.
                        <br/><br/>
                        <strong>Also:</strong> Some of the features of this browser-extension <em>may</em> effect
                        advertisement
                        panels.
                        However, you should be made aware that <span class="company">Inuit<span
                            class="reset">&reg;</span> Mint</span>&trade;
                        is a <strong style="text-decoration: underline">FREE</strong> service.
                        It would be unethical to remove the site's advertisement outright, since it is likely Mint's
                        main
                        source of income for providing its users this free service.
                        <br/>
                        Therefore this browser-extension will take care to preserve advertisements as <span
                            class="company">Inuit<span class="reset">&reg;</span> Mint</span>&trade; would normally have
                        them.
                        <br/>
                    </p>
                    <p style="text-align: right;margin-right: 20px;margin-bottom: 20px">
                        Sincerely,<br/>
                        The MintOil Team @ <a href="https://caelusminds.com" target="_blank">CaelusMinds</a>
                    </p>
                </div>
            </div>

            <div id="mintoil_actions_container" class="">
                <div id="mintoilActionPanel" class="paper-bg">
                    <div id="mintoilAbout" class="mintoil-paper">
                        <div class="paper-top">
                            <h2 class="no-mintoil">About <strong style="color: #266b36">MintOil</strong></h2>
                        </div>
                        <div class="paper-body no-mintoil-body">
                            <p>
                                MintOil is a browser extension, and a product of
                                <a href="https://caelusminds.com" target="_blank" class="external-open">CaelusMinds</a>.
                                <br/>
                            </p>
                            <table id="mintoil-about" class="mintoil-sidemenu">
                                <tr>
                                    <th>Current Version</th>
                                    <td>{{chrome.runtime.version_name}}</td>
                                </tr>
                                <tr>
                                    <th>Build Version</th>
                                    <td>{{chrome.runtime.version}}</td>
                                </tr>
                                <tr>
                                    <th>Website</th>
                                    <td class="clickable">
                                        <a href="https://mintoil.caelusminds.com" target="_blank"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Roadmap</th>
                                    <td class="clickable">
                                        <a href="https://mintoil.caelusminds.com/roadmap" target="_blank"></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <div class="paper-btm"></div>
                        </div>
                        <br/><br/>
                        <!-- BREAK -->
                        <div class="paper-top">
                            <h2 class="no-mintoil">Options</h2>
                        </div>
                        <div class="paper-body no-mintoil-body">
                            <p>
                                ... coming soon.
                            </p>
                        </div>
                        <div>
                            <div class="paper-btm"></div>
                        </div>
                    </div><!-- End of mintoil-paper body -->
                </div>
            </div>
        </div>
    </div>
</div>
