
.mintoilPage #mintoilOverview {
    text-indent: -9999px;
    /*noinspection CssUnknownTarget*/
    background: url('chrome-extension://__MSG_@@extension_id__/images/logos/logo-just-text.svg') transparent no-repeat 35px center;
    background-size: 100px 30px;
    width: 135px;
    height: 30px;
    cursor: pointer;
}

.mintoilPage #mintoilOverview div#icon {
    /*noinspection CssUnknownTarget*/
    background: url('chrome-extension://__MSG_@@extension_id__/images/icons/icon.svg') no-repeat center center;
    width: 30px;
    height: 30px;
}

h1.title,
h2.title,
h3.title {
    width: initial !important;
    height: initial !important;
    margin-left: 0 !important;
}

.mintoilPage a {
    text-decoration: none !important;
}

a[target="_blank"]::after {
    font-family: 'FontAwesome', monospace;
    content: ' \f08e';
}

table.mintoil-sidemenu {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-spacing: 5px;
    border-collapse: unset !important;
}

table.mintoil-sidemenu tr th {
    width: 120px;
    text-align: right;
    padding-right: 5px;
}

table.mintoil-sidemenu tr th::after {
    content: ':'
}

#this-version-wrapper .muted {
    color: #5b5b5b;
}

#this-version-wrapper li {
    padding-left: 16px;
}

#this-version-wrapper .list-section {
    margin-left: 16px;
    text-decoration: underline;
}

#this-version-wrapper .enhancement {

}

#this-version-wrapper .enhancement::before {
    font-family: 'FontAwesome', monospace;
    content: '(\f0ad)   ';
    color: #266b36;
    cursor: pointer;
}

#this-version-wrapper .task::before {
    font-family: 'FontAwesome', monospace;
    content: '(\f0eb)   ';
    color: #266b36;
    cursor: pointer;
}

#this-version-wrapper .bug::before {
    font-family: 'FontAwesome', monospace;
    content: '(\f188)   ';
    color: #266b36;
    cursor: pointer;
}

#this-version-wrapper > li::after {
    /*content: '.';*/
}

#mintoil-main .section {

}

/* MintOil Page */
#mintoil-main {
    float: left;
    width: 675px;
}

#mintoilOverview {
    max-width: 620px;
    height: 22px;
    margin-top: 10px;
    padding: 12px 0;
}

#mintoilOverview h1 {
    float: left;
    font-size: 20px;
    font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

#mintoilActionPanel {
    width: 800px;
    _width: 775px;
    min-height: 790px;
    height: auto !important;
    height: 790px;
    zoom: 1;
    overflow: auto;
}

#mintoilActionPanel.paper-bg {
    background-color: #fff;
}

#mintoil_actions_container {
    width: 325px;
    *width: 300px;
    float: left;
    padding-bottom: 35px;
    margin-top: 22px;
    margin-bottom: 30px;
}

.mintoil-paper {
    float: left;
    width: 272px;
    _width: 279px;
    margin: 8px 0 0 22px;
    position: relative;
}

.mintoil-paper .paper-top {
    float: left;
    width: 263px;
    _width: 279px;
    height: 37px;
    padding: 5px 0 0;
}

.mintoil-paper .paper-body {
    padding: 0;
    margin: auto;
    float: left;
    width: 248px;
    _width: 272px;
    overflow: hidden;
}

#mintoilActionPanel.paper-bg {
    border-left: #e4e4e4 1px solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(228, 228, 228);
}

.no-mintoil {
    display: block;
    font-size: 18px;
}

.mintoil-paper .paper-top h2.no-mintoil {
    margin-bottom: 20px;
    border-bottom: 1px solid #afafaf;
}

.mintoil-paper .paper-top h2 {
    margin-right: 15px;
}

.mintoil-paper .no-mintoil {
    margin-left: -8px;
    padding: 5px 0;
}

.mintoil-paper ol {
    float: left;
    margin-right: 10px;
}

.no_mintoil_text ol {
    font-size: 13px;
    margin-right: 0;
    padding: 0 10px 0 30px;
    list-style-type: decimal;
}

.no_mintoil_text ol li {
    float: left;
    padding-bottom: 10px;
}

#mintoilMainSection h2 {
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: underline;
}

#mintoil-main p em {
    font-style: italic !important;
}

#mintoil-main p .company {
    text-decoration: underline;
    font-weight: bold;
}

#mintoil-main p .company .reset {
    font-weight: normal;
}

.ui-datepicker .ui-state-hover {
    cursor: pointer;
}

td.clickable {
    cursor: pointer !important;
}

ul#this-version-wrapper li ul{
    list-style-type: none;
    margin-left: 12px;
}
ul#this-version-wrapper li ul li {
    text-indent: 0;
}
ul#this-version-wrapper li ul li:before {
    content: '—';
    margin-right: 2px;
}
